button {
  cursor: pointer;
  padding: 10px;
  border: 0;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 150%;
  background: #53b6f4;
  border-radius: 5px;
  color: #fff;
  opacity: 1;
  transition: opacity .2s;
}

button.red {
  background: #ff3232;
}

button:hover {
  opacity: .8;
}

#modal {
  font-family: 'Roboto';
  color: #333;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
}

#modal.active {
  top: 0;
}

#modal ~ * {
  transition: filter .2s;
}

#modal.active ~ * {
  filter: blur(5px);
}

#modal .content {
  display: none;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 10px;
  background: #fff;
  opacity: 0;
  box-sizing: border-box;
  padding: 25px;
  width: 360px;
  box-shadow: 0 0 50px rgba(0,0,0,.3);
  flex-direction: column;
  align-items: center;
}

#modal .content.active {
  display: flex;
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 100%}
}

#modal.active .content {
  animation: fadeIn .3s forwards .2s;
}

#modal .content .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
}

#modal .content .row > div {
  flex-shrink: 0;
  width: 49%;
  position: relative;
  box-sizing: border-box;
  margin-top: 15px;
}

#modal .content .hidden {
  display: none!important;
}

#memberInfo .picture,
#editMember .picture {
  display: none;
  border-radius: 50%;
  overflow: hidden;
  width: 110px;
  height: 110px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

#editMember .picture {
  cursor: pointer;
  display: block;
  background: url('../img/default.jpg') no-repeat center;
  background-size: cover;
}

#editMember .picture:after {
  content: 'CHANGE';
  text-align: center;
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 1.5px;
  line-height: 340%;
  color: #fff;
  position: absolute;
  transform: translateY(100%);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: rgba(0,0,0,.6);
  transition: transform .2s;
}

#editMember .picture:hover:after {
  transform: translateY(0);
}

#memberInfo .picture img,
#editMember .picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#editMember .picture img {
  display: none;
}

#memberInfo.hasImage .picture,
#editMember.hasImage .picture img {
  display: block;
}

#editMember .imageLoad {
  display: none;
}

#memberInfo.hasImage,
#editMember.content {
  padding-top: 65px;
}

#memberInfo .name,
#editMember .name {
  display: inline-block;
  position: relative;
  font-weight: 900;
  font-size: 24px;
  text-align: center;
  color: #333;
}

#editMember .name {
  width: 100%;
}

#memberInfo .name.active:before {
  content: '';
  position: absolute;
  top: 56%;
  left: -20px;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #75BF1E;
}

#editMember .name {
  border: 0;
}

#editMember #activityIndicatorInput {
  display: none;
}

#editMember .activityIndicator {
  user-select: none;
  font-size: 12px;
  cursor: pointer;
  position: absolute;
  top: 23px;
  left: 23px;
  padding-left: 30px;
  color: #aaa;
}

#editMember .activityIndicator:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 55%;
  transform: translateY(-50%);
  width: 23px;
  height: 14px;
  border: 1px solid #aaa;
  border-radius: 7.5px;
  transition: all .2s;
}

#editMember .activityIndicator:after {
  content: '';
  display: block;
  position: absolute;
  left: 3px;
  top: 55%;
  transform: translateY(-50%);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #aaa;
  transition: all .2s;
}

#editMember #activityIndicatorInput:checked ~ .activityIndicator {
  color: #75bf1e;
}

#editMember #activityIndicatorInput:checked ~ .activityIndicator:before {
  border-color: #75bf1e;
}

#editMember #activityIndicatorInput:checked ~ .activityIndicator:after {
  background: #75bf1e;
  left: 13px;
}

#memberInfo .socials {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
}

#memberInfo .socials a {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 2px;
  background-repeat: no-repeat;
  background-size: contain;
}

#memberInfo .socials a.telegram {
  background-image: url(../img/telegram.svg);
}

#memberInfo .socials a.instagram {
  background-image: url(../img/instagram.svg);
}

#memberInfo .socials a.hidden {
  display: none;
}

#editMember .editSocials {
  position: absolute;
  top: 22px;
  right: 20px;
  font-size: 12px;
  color: #aaa;
  cursor: pointer;
}

#editMember .socials {
  cursor: default;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 3;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  padding: 10px 15px 5px;
  border-radius: 5px;
  width: 100px;
}

#editMember .editSocials:hover .socials {
  display: block;
}

#editMember .socials > div {
  margin-bottom: 10px;
}

#editMember .socials input {
  width: 95px;
}

#memberInfo .status,
#editMember .status {
  margin: 20px 0 5px;
  width: 85%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#memberInfo .status .dot,
#editMember .status .dot {
  position: relative;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1px solid #aaa;
  background: transparent;
  transition: all .1s;
}

#editMember .status .dot {
  cursor: pointer;
}

#memberInfo .status .line,
#editMember .status .line {
  height: 1px;
  width: 40px;
  background: #ccc;
}

#memberInfo .status .dot.filled,
#editMember .status .dot.filled {
  background: #aaa;
}

#memberInfo .status .dot.active,
#editMember .status .dot.active,
#editMember .status .dot:hover {
  width: 10px;
  height: 10px;
  background: #0071b9;
  border: none;
}

#memberInfo .status .dot span,
#editMember .status .dot span {
  position: absolute;
  top: 0;
  padding-top: 12px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
  color: #777;
  transition: all .1s;
}

#memberInfo .status .dot.active span,
#editMember .status .dot.active span,
#editMember .status .dot:hover span {
  color: #0071b9;
  font-weight: bold;
  padding-top: 15px;
}

#editMember .caption,
#memberInfo .caption {
  font-size: 12px;
  margin: 2px 0 4px;
  color: #777;
}

#editMember .caption {
  margin-bottom: .5vw;
}

#editMember .value,
#memberInfo .value {
  font-weight: bold;
  font-size: 14px;
  color: #333;
  display: flex;
  justify-content: space-between;
}

#editMember .value select {
  height: 20px;
}

#editMember .value select,
#editMember .value input {
  font-size: 12px;
}

#memberInfo .recruitment,
#memberInfo .family,
#memberInfo .birthday,
#memberInfo .education {
  padding-left: 40px;
}

#memberInfo .recruitment:before,
#memberInfo .family .logo,
#memberInfo .birthday:before,
#memberInfo .education:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 33px;
  height: 33px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#memberInfo .recruitment.autumn:before {
  background-image: url(../img/autumn.svg);
}

#memberInfo .recruitment.spring:before {
  background-image: url(../img/spring.svg);
}

#editMember .recruitment select,
#editMember .education select {
  width: 48%;
}

#memberInfo .family .logo {
  background-image: url(../img/family.svg);
}

#editMember .family select {
  width: 100%;
}

#memberInfo .birthday:before {
  background-image: url(../img/birthday.svg);
}

#memberInfo .birthday .age {
  font-size: 12px;
  color: #777;
  margin-left: 4px;
  font-weight: 400;
  white-space: nowrap;
}

#editMember .birthday .value {
  display: flex;
}

#editMember .birthday .value input {
  width: 24%;
}

#editMember .birthday .value input.year {
  width: 38%;
}

#memberInfo .education:before {
  background-image: url(../img/education.svg);
}

#editMember .butonsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}

#editMember .butonsContainer button {
  width: 48%;
}

#removeConfirmation p {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}

#removeConfirmation .name {
  font-weight: bold;
}

#removeConfirmation .buttonsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}

#removeConfirmation .buttonsContainer button {
  width: 48%;
}

#removeConfirmation.hasChildren {
  width: 450px;
}

#removeConfirmation.hasChildren .buttonsContainer button {
  width: 31%;
}

#removeConfirmation.hasChildren .ifHasNoChildren,
#removeConfirmation .ifHasChildren {
  display: none;
}

#removeConfirmation.hasChildren .ifHasChildren {
  display: block;
}

#changeParent {
  font-size: 14px;
}

#changeParent .currentParent {
  text-align: center;
  margin-bottom: 20px;
}

#changeParent .currentParent .value {
  margin-top: 5px;
  font-weight: bold;
  font-size: 18px;
}

#changeParent .searchField {
  width: 100%;
}

#changeParent .searchField .results {
  max-height: 30vh;
}

#changeParent .butonsContainer {
  display: flex;
  margin-top: 20px;
  width: 100%;
  justify-content: space-between;
}

#changeParent .butonsContainer button {
  width: 32%;
}

#modal .blackBG {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(0,0,0,.5);
  transition: opacity .3s ease;
}

#modal.active .blackBG {
  opacity: 1;
}

@media screen and (max-width: 420px) {
  #modal .content .row > div {
    width: auto;
    min-width: 50%;
    max-width: 100%;
  }
  
  #editMember.content .row > div {
    width: 100%;
  }
  
  #modal .content {
    width: 90vw;
  }
  
  #modal .content .row {
    flex-wrap: wrap;
  }
  
  #memberInfo .status .line,
  #editMember .status .line {
    width: 10vw;
  }
}

@media screen and (max-width: 480px) {
  #removeConfirmation.hasChildren {
    width: 90%;
  }
  
  #removeConfirmation.hasChildren .buttonsContainer {
    flex-direction: column;
    margin-top: 10px;
  }

  #removeConfirmation.hasChildren .buttonsContainer button {
    width: 100%;
    margin-top: 10px;
  }
}