body, html {
  overflow: hidden;
  height: 100%;
}

/* for zzz */
body > div {
  display: none;
}
/* for zzz */

.scrollbar-thumb {
  background: #0071B9;
  width: 4px;
  height: 4px;
  border-radius: 2px;
}

.scrollbar-track {
  width: 4px;
  height: 4px;
  background: transparent;
}

#wrapper {
  height: 100%;
  width: 100vw;
  cursor: grab;
  transition: filter .2s ease;
}

#wrapper.grabbing {
  user-select: none;
  cursor: grabbing;
}

#wrapper .scroll-content {
  text-align: center;
  height: 100%;
}

#familyTree {
  font-family: 'Tahoma';
  display: inline-flex;
  padding: 30vh 4vw 6vw;
  box-sizing: border-box;
}

#familyTree .member {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#familyTree .member:before {
  content: '';
  position: absolute;
  height: 1px;
  background: #999;
  top: -2vw;
}

#familyTree .member:first-child:before {
  left: 50%;
  width: 50%;
}

#familyTree .member:before {
  left: 0;
  width: 100%;
}

#familyTree .member:last-child:before {
  left: 0;
  width: 50%;
}

#familyTree .member:only-child:before {
  display: none;
}

#familyTree .member:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 2vw;
  background: #999;
  left: 50%;
  bottom: 100%;
  transition: all .3s ease;
}

#familyTree > .member {
  border-right: 1px solid #eee;
  padding: 2vw 2vw 0;
}

#familyTree > .member:last-child {
  border: none;
}

#familyTree > .member:before,
#familyTree > .member:after {
  display: none;
}

#familyTree .member .description {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2vw 3vw;
  transition: all .3s ease;
}

#familyTree .member .picture {
  width: 8vw;
  height: 10vw;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1vw;
  position: relative;
  transition: all .3s ease;
  background: url('../img/default.jpg') no-repeat center;
  background-size: cover;
}

#familyTree .member .picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#familyTree .member.active > .description:before {
  content: '';
  position: absolute;
  z-index: 2;
  top: 60%;
  left: 50%;
  margin-left: -3.5vw;
  width: .8vw;
  height: .8vw;
  border: .3vw solid #fff;
  border-radius: 50%;
  background: #75BF1E;
  transition: all .3s ease;
}

#familyTree .member .name {
  font-size: 1vw;
  font-weight: bold;
  color: #333;
  margin-bottom: .5vw;
  white-space: nowrap;
  transition: all .3s ease;
}

#familyTree .member .status {
  font-size: .8vw;
  font-weight: 600;
  color: #777;
  transition: all .3s ease;
}

#familyTree .member.highlighted > .description .name,
#familyTree .member.highlighted > .description .status {
  color: #0071b9;
}

#familyTree .opener {
  cursor: pointer;
  transform: translateY(-2vw);
  height: 1.2vw;
  width: 1.2vw;
  border-radius: 50%;
  background: #0071B9;
  color: #fff;
  font-size: .8vw;
  font-weight: bold;
  text-align: center;
  line-height: 1.2vw;
  overflow: hidden;
  transition: all .3s ease;
}

#familyTree .children {
  padding-top: 2vw;
  display: flex;
  align-items: flex-start;
  position: relative;
  transition: all .3s ease;
}

#familyTree .children:before {
  content: '';
  position: absolute;
  top: -1.5vw;
  left: 50%;
  width: 1px;
  background: #999;
  height: 1.5vw;
  transition: all .3s ease;
}

#familyTree .children:not(.visible) {
  padding: 0;
}

#familyTree .children:not(.visible):before,
#familyTree .children:not(.visible) .children:before {
  height: 0;
}

#familyTree .children:not(.visible) .member:after {
  height: 0;
}

#familyTree .children:not(.visible) .member .picture {
  height: 0;
  width: 0;
  margin: 0;
}

#familyTree .children:not(.visible) .member .description {
  margin: 0;
}

#familyTree .children:not(.visible) .member .description:before {
  margin: 0;
  width: 0;
  height: 0;
  border: 0;
}

#familyTree .children:not(.visible) .member .name,
#familyTree .children:not(.visible) .member .status {
  font-size: 0;
  margin: 0;
}

#familyTree .children:not(.visible) .member .opener {
  height: 0;
  width: 0;
}

#modal {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
}

#modal.active {
  top: 0;
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 100%}
}

#modal .content {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 30vw;
  border-radius: .8vw;
  background: #fff;
  opacity: 0;
  box-sizing: border-box;
  padding: 6vw 2vw 2vw;
  box-shadow: 0 0 10vw rgba(0,0,0,.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#modal.active ~ #wrapper,
#modal.active ~ #search {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

#modal.active .content {
  animation: fadeIn .3s forwards .2s;
}

#modal .picture {
  border-radius: 50%;
  overflow: hidden;
  width: 10vw;
  height: 10vw;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

#modal .picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#modal.noImage .picture {
  display: none;
}

#modal.noImage .content {
  padding-top: 2vw;
}

#modal .hidden {
  display: none!important;
}

#modal .name {
  display: inline-block;
  position: relative;
  font: bold 2vw 'Tahoma';
  text-align: center;
  color: #333;
}

#modal .name.active:before {
  content: '';
  position: absolute;
  top: 56%;
  left: -1.5vw;
  transform: translateY(-50%);
  width: .8vw;
  height: .8vw;
  border-radius: 50%;
  background: #75BF1E;
}

#modal .status {
  margin: 2.5vw 0 2vw;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#modal .status .dot {
  position: relative;
  width: .5vw;
  height: .5vw;
  border-radius: 50%;
  border: 1px solid #aaa;
}

#modal .status .dot:before {
  content: '';
  height: 1px;
  width: 4vw;
  background: #ccc;
  position: absolute;
  top: 50%;
  left: calc(100% + 1vw);
}

#modal .status .dot:last-child:before {
  display: none;
}

#modal .status .dot.filled {
  background: #aaa;
}

#modal .status .dot.active {
  width: .8vw;
  height: .8vw;
  background: #0071b9;
  border: none;
}

#modal .status .dot span {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translateX(-50%);
  font: .8vw 'Tahoma';
}

#modal .status .dot.active span {
  color: #0071b9;
  font-weight: bold;
}

#modal .row {
  display: flex;
  width: 100%;
}

#modal .row > div:not(.hidden) {
  flex-grow: 1;
  flex-shrink: 0;
  margin: 2vw 1vw 0;
}

#modal .caption {
  font: 1vw 'Tahoma';
  color: #777;
  margin-bottom: .2vw;
}

#modal .value {
  font: 600 1.1vw 'Tahoma';
  color: #333;
  text-transform: uppercase;
}

#modal .recruitment {
  position: relative;
  padding-left: 3vw;
  box-sizing: border-box;
}

#modal .recruitment:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 2.5vw;
  height: 2.5vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#modal .recruitment.autumn:before {
  background-image: url(../img/autumn.svg);
}

#modal .recruitment.spring:before {
  background-image: url(../img/spring.svg);
}

#modal .family {
  display: flex;
}

#modal .family .logo {
  height: 2.5vw;
  width: 2.5vw;
  margin-right: .5vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#modal .blackBG {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(0,0,0,.5);
  transition: opacity .3s ease;
}

#modal.active .blackBG {
  opacity: 1;
}

#search {
  position: absolute;
  z-index: 5;
  top: 3vw;
  left: 3vw;
  box-shadow: 0 0 2vw rgba(0,0,0,.1);
  transition: filter .2s ease;
}

#search:before {
  content: '';
  position: absolute;
  right: 1vw;
  top: 1vw;
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  background: url(../img/search.svg) no-repeat;
  background-size: contain;
}

#search input {
  padding: 1vw;
  border-radius: .4vw;
  border: 1px solid #aaa;
  width: 20vw;
}

#search .results {
  position: relative;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 50vh;
  overflow: hidden;
}

#search .answer {
  cursor: pointer;
  width: 100%;
  font: .8vw 'Tahoma';
  padding: .7vw 1vw;
  box-sizing: border-box;
  color: #333;
  background: #fff;
  transition: background .2s ease;
}

#search .answer:hover {
  background: #fafafa;
}

@media screen and (max-width: 800px) {
  #familyTree {
    padding: 30vh 10vw 10vw;
  }
  
  #familyTree > .member {
    padding: 8vw 8vw 2vw;
  }
  
  #familyTree .member:before {
    top: -8vw;
  }
  
  #familyTree .member:after {
    height: 8vw;
  }
  
  #familyTree .member .description {
    margin: 0 8vw 12vw;
  }
  
  #familyTree .member .picture {
    width: 32vw;
    height: 40vw;
    margin-bottom: 4vw;
  }
  
  #familyTree .member.active > .description:before {
    width: 3.2vw;
    height: 3.2vw;
    border-width: 1.2vw;
    margin-left: -14vw;
  }
  
  #familyTree .member .name {
    font-size: 4vw;
    margin-bottom: 2vw;
  }
  
  #familyTree .member .status {
    font-size: 3.2vw;
  }
  
  #familyTree .opener {
    height: 4.8vw;
    width: 4.8vw;
    transform: translateY(-8vw);
    font-size: 3.2vw;
    line-height: 4.8vw;
  }
  
  #familyTree .children {
    padding-top: 8vw;
  }
  
  #familyTree .children:before {
    top: -6vw;
    height: 6vw;
  }
  
  #modal .content {
    width: 90vw;
    border-radius: 2.4vw;
    padding: 18vw 6vw 6vw;
  }
  
  #modal.noImage .content {
    padding-top: 6vw;
  }
  
  #modal .picture {
    width: 30vw;
    height: 30vw;
  }
  
  #modal .name {
    font-size: 6vw;
  }
  
  #modal .name.active:before {
    left: -4.5vw;
    width: 2.4vw;
    height: 2.4vw;
  }
  
  #modal .status {
    margin: 7.5vw 0 4vw;
  }
  
  #modal .status .dot {
    width: 1.5vw;
    height: 1.5vw;
  }
  
  #modal .status .dot:before {
    width: 12vw;
    left: calc(100% + 3vw);
  }
  
  #modal .status .dot.active {
    width: 2.4vw;
    height: 2.4vw;
  }
  
  #modal .status .dot span {
    font-size: 2.4vw;
  }
  
  #modal .caption {
    font-size: 3vw;
    margin-bottom: .6vw;
  }
  
  #modal .value {
    font-size: 3.3vw;
  }
  
  #modal .recruitment {
    padding-left: 9vw;
  }
  
  #modal .recruitment:before {
    width: 7.5vw;
    height: 7.5vw;
  }
  
  #modal .row > div:not(.hidden) {
    margin-top: 5vw;
  }
  
  #modal .family .logo {
    width: 7.5vw;
    height: 7.5vw;
    margin-right: 1.5vw;
  }
  
  #search {
    top: 5vw;
    left: 5vw;
    box-shadow: 0 0 8vw rgba(0,0,0,.1);
  }
  
  #search:before {
    right: 4vw;
    top: 3.5vw;
    width: 6vw;
    height: 6vw;
  }
  
  #search input {
    width: 90vw;
    border-radius: 1.6vw;
    font-size: 4vw;
    padding: 4vw;
    box-sizing: border-box;
  }
  
  #search .results {
    max-height: 80vh;
  }
  
  #search .answer {
    font-size: 3.2vw;
    padding: 2.8vw 4vw;
  }
}