body, html {
  overflow: hidden;
  height: 100%;
}

/* for zzz */
body > div {
  display: none;
}
/* for zzz */

.scrollbar-thumb {
  background: #0071B9;
  width: 4px;
  height: 4px;
  border-radius: 2px;
}

.scrollbar-track {
  width: 4px;
  height: 4px;
  background: transparent;
}

button {
  cursor: pointer;
  padding: .5vw 1vw;
  border: 0;
  text-transform: uppercase;
  font: .8vw 'Tahoma';
  letter-spacing: .1vw;
  line-height: 150%;
  background: #53b6f4;
  border-radius: .5vw;
  color: #fff;
  opacity: 1;
  transition: opacity .2s;
}

button.red {
  background: #ff3232;
}

button:hover {
  opacity: .8;
}

.mountBlock {
  height: 100%;
  width: 100vw;
  cursor: grab;
  transition: filter .2s ease;
}

.mountBlock.grabbing {
  user-select: none;
  cursor: grabbing;
}

.mountBlock .scroll-content {
  text-align: center;
  height: 100%;
}

#familyTree {
  font-family: 'Tahoma';
  display: inline-flex;
  padding: 30vh 4vw 4vw;
  box-sizing: border-box;
}

#familyTree .member {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#familyTree .member:before {
  content: '';
  position: absolute;
  height: 1px;
  background: #999;
  top: -1vw;
}

#familyTree .member:first-child:before {
  left: 50%;
  width: 50%;
}

#familyTree .member:before {
  left: 0;
  width: 100%;
}

#familyTree .member:last-child:before {
  left: 0;
  width: 50%;
}

#familyTree .member:only-child:before {
  display: none;
}

#familyTree .member:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 1vw;
  background: #999;
  left: 50%;
  bottom: 100%;
  transition: all .3s ease;
}

#familyTree > .member {
  border-right: 1px solid #eee;
  padding: 1vw 2vw 0;
}

#familyTree > .member:last-child {
  border: none;
}

#familyTree > .member:before,
#familyTree > .member:after {
  display: none;
}

#familyTree .member .description {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2vw .8vw;
  transition: all .3s ease;
}

#familyTree .member .picture {
  width: 6vw;
  height: 7.5vw;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1vw;
  position: relative;
  transition: all .3s ease;
  background: url('../img/default.jpg') no-repeat center;
  background-size: cover;
}

#familyTree .member .picture img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#familyTree .member.active > .description:before {
  content: '';
  position: absolute;
  z-index: 2;
  top: 53%;
  left: 50%;
  margin-left: -2.9vw;
  width: .7vw;
  height: .7vw;
  border: .2vw solid #fff;
  border-radius: 50%;
  background: #75BF1E;
  transition: all .3s ease;
}

#familyTree .member .name {
  font-size: .8vw;
  font-weight: bold;
  color: #333;
  margin-bottom: .5vw;
  white-space: nowrap;
  transition: all .3s ease;
}

#familyTree .member .status {
  font-size: .7vw;
  font-weight: 600;
  color: #777;
  transition: all .3s ease;
}

#familyTree .member.highlighted > .description .name,
#familyTree .member.highlighted > .description .status {
  color: #0071b9;
}

#familyTree .settings {
  position: absolute;
  top: 37%;
  transform: translateY(-50%);
  left: 40%;
  padding-left: 3.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  opacity: 0;
  transition: all .2s;
}

#familyTree .description:hover .settings {
  opacity: 1;
  left: 50%;
}

#familyTree .settings > div {
  width: 2vw;
  height: 2vw;
  margin: .3vw 0;
  flex-shrink: 0;
  border-radius: 50%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  background-color: #53b6f4;
}

#familyTree .settings .removeMember {
  background-color: #ff3232;
  background-image: url(../img/remove.svg);
}

#familyTree .settings .changeParent {
  background-image: url(../img/change.svg);
}

#familyTree .settings .addChild {
  background-image: url(../img/add.svg);
}

#familyTree .opener {
  cursor: pointer;
  height: 1.2vw;
  width: 1.2vw;
  border-radius: 50%;
  background: #0071B9;
  color: #fff;
  font-size: .8vw;
  font-weight: bold;
  text-align: center;
  line-height: 1.2vw;
  margin-bottom: 1vw;
  overflow: hidden;
  transition: all .3s ease;
}

#familyTree .children {
  padding-top: 1.5vw;
  display: flex;
  align-items: flex-start;
  position: relative;
  transition: all .3s ease;
}

#familyTree .children:before {
  content: '';
  position: absolute;
  top: -.5vw;
  left: 50%;
  width: 1px;
  background: #999;
  height: 1vw;
  transition: all .3s ease;
}

#familyTree .children:not(.visible) {
  padding: 0;
  opacity: 0;
}

#familyTree .children:not(.visible):before,
#familyTree .children:not(.visible) .children:before {
  height: 0;
  opacity: 0;
}

#familyTree .children:not(.visible) .member:after {
  height: 0;
  opacity: 0;
}

#familyTree .children:not(.visible) .member .picture {
  height: 0;
  width: 0;
  margin: 0;
  opacity: 0;
}

#familyTree .children:not(.visible) .member .description {
  margin: 0;
  opacity: 0;
}

#familyTree .children:not(.visible) .member .description:before {
  margin: 0;
  width: 0;
  height: 0;
  border: 0;
  opacity: 0;
}

#familyTree .children:not(.visible) .member .name,
#familyTree .children:not(.visible) .member .status {
  font-size: 0;
  margin: 0;
  opacity: 0;
}

#familyTree .children:not(.visible) .member .opener {
  height: 0;
  width: 0;
  opacity: 0;
  font-size: 0;
  margin: 0;
}

#familyTree .children:not(.visible) .member .settings > div {
  height: 0;
  width: 0;
  margin: 0;
}

.searchField {
  position: relative;
}

.searchField:before {
  content: '';
  position: absolute;
  z-index: 3;
  right: 1vw;
  top: .8vw;
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  background: url(../img/search.svg) no-repeat;
  background-size: contain;
}

.searchField input {
  position: relative;
  z-index: 2;
  padding: 1vw;
  border-radius: .4vw;
  border: 1px solid #aaa;
  width: 20vw;
}

.searchField .results {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 50vh;
  overflow: hidden;
  box-shadow: 0 0 2vw rgba(0,0,0,.1);
}

.searchField .answer {
  cursor: pointer;
  width: 100%;
  font: .8vw 'Tahoma';
  padding: .7vw 1vw;
  box-sizing: border-box;
  color: #333;
  background: #fff;
  transition: background .2s ease;
}

.searchField .answer:hover {
  background: #fafafa;
}

#findMember {
  position: absolute;
  top: 3vw;
  left: 3vw;
  z-index: 5;
  box-shadow: 0 0 2vw rgba(0,0,0,.1);
  transition: filter .2s;
}

#modal {
  font: 1.1vw 'Tahoma';
  color: #333;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
}

#modal.active {
  top: 0;
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 100%}
}

#modal .content {
  display: none;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: .8vw;
  background: #fff;
  opacity: 0;
  box-sizing: border-box;
  padding: 2vw;
  box-shadow: 0 0 10vw rgba(0,0,0,.3);
  flex-direction: column;
  align-items: center;
}

#modal .content.active {
  display: flex;
}

#modal.active ~ #wrapper,
#modal.active ~ #findMember {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

#modal.active .content {
  animation: fadeIn .3s forwards .2s;
}

#memberInfo,
#editMember {
  width: 30vw;
}

#memberInfo .picture,
#editMember .picture {
  display: none;
  border-radius: 50%;
  overflow: hidden;
  width: 10vw;
  height: 10vw;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

#editMember .picture {
  cursor: pointer;
  display: block;
  background: url('../img/default.jpg') no-repeat center;
  background-size: cover;
}

#editMember .picture:after {
  content: 'CHANGE';
  text-align: center;
  font: 500 .8vw 'Tahoma';
  letter-spacing: .2vw;
  line-height: 340%;
  color: #fff;
  position: absolute;
  transform: translateY(100%);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3vw;
  background: rgba(0,0,0,.6);
  transition: transform .2s;
}

#editMember .picture:hover:after {
  transform: translateY(0);
}

#memberInfo .picture img,
#editMember .picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#editMember .picture img {
  display: none;
}

#memberInfo.hasImage .picture,
#editMember.hasImage .picture img {
  display: block;
}

#editMember .imageLoad {
  display: none;
}

#memberInfo.hasImage,
#editMember.content {
  padding-top: 6vw;
}

.content .hidden {
  display: none!important;
}

#memberInfo .name,
#editMember .name {
  display: inline-block;
  position: relative;
  font: bold 2vw 'Tahoma';
  text-align: center;
  color: #333;
}

#editMember .name {
  border: 0;
}

#memberInfo .name.active:before {
  content: '';
  position: absolute;
  top: 56%;
  left: -1.5vw;
  transform: translateY(-50%);
  width: .8vw;
  height: .8vw;
  border-radius: 50%;
  background: #75BF1E;
}

#editMember #activityIndicatorInput {
  display: none;
}

#editMember .activityIndicator {
  cursor: pointer;
  position: absolute;
  top: 2vw;
  left: 2vw;
  padding-left: 2.7vw;
  color: #aaa;
}

#editMember .activityIndicator:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 55%;
  transform: translateY(-50%);
  width: 2vw;
  height: 1.2vw;
  border: 1px solid #aaa;
  border-radius: .6vw;
  transition: all .2s;
}

#editMember .activityIndicator:after {
  content: '';
  display: block;
  position: absolute;
  left: .3vw;
  top: 55%;
  transform: translateY(-50%);
  width: .8vw;
  height: .8vw;
  border-radius: 50%;
  background: #aaa;
  transition: all .2s;
}

#editMember #activityIndicatorInput:checked ~ .activityIndicator {
  color: #75bf1e;
}

#editMember #activityIndicatorInput:checked ~ .activityIndicator:before {
  border-color: #75bf1e;
}

#editMember #activityIndicatorInput:checked ~ .activityIndicator:after {
  background: #75bf1e;
  left: 1.1vw;
}

.content .status {
  margin: 2.5vw 0 2vw;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content .status .dot {
  position: relative;
  width: .5vw;
  height: .5vw;
  border-radius: 50%;
  border: 1px solid #aaa;
  transition: all .1s;
}


#editMember .status .dot {
  cursor: pointer;
}

.content .status .line {
  height: 1px;
  width: 4vw;
  background: #ccc;
}

.content .status .dot:last-child:before {
  display: none;
}

.content .status .dot.filled {
  background: #aaa;
}

.content .status .dot.active,
#editMember .status .dot:hover {
  width: .8vw;
  height: .8vw;
  background: #0071b9;
  border: none;
}

.content .status .dot span {
  position: absolute;
  top: 0;
  padding-top: 1vw;
  left: 50%;
  transform: translateX(-50%);
  font: .8vw 'Tahoma';
  transition: all .1s;
}

.content .status .dot.active span,
#editMember .status .dot:hover span {
  color: #0071b9;
  font-weight: bold;
  padding-top: 1.1vw;
}

.content .row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.content .row > div:not(.hidden) {
  flex-shrink: 0;
  min-width: 40%;
  margin: 2vw 0 0;
}

.content .caption {
  font: 1vw 'Tahoma';
  color: #777;
  margin-bottom: .2vw;
}

#editMember .value,
#memberInfo .value {
  font: 600 1.1vw 'Tahoma';
  color: #333;
  text-transform: uppercase;
}

#editMember .value {
  white-space: nowrap;
}

.content .recruitment {
  position: relative;
  box-sizing: border-box;
}

#memberInfo .recruitment {
  padding-left: 3vw;
}

#memberInfo .recruitment:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 2.5vw;
  height: 2.5vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#memberInfo .recruitment.autumn:before {
  background-image: url(../img/autumn.svg);
}

#memberInfo .recruitment.spring:before {
  background-image: url(../img/spring.svg);
}

.content .family {
  display: flex;
}

#memberInfo .family .logo {
  height: 2.5vw;
  width: 2.5vw;
  margin-right: .5vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#editMember .options {
  display: flex;
  justify-content: space-between;
  margin-top: 2vw;
  width: 100%;
}

#editMember .options button {
  width: 48%;
}

#removeConfirmation {
  text-align: center;
  width: 25vw;
}

#removeConfirmation.hasChildren {
  width: 42vw;
}

#removeConfirmation .name {
  font-weight: bold;
}

#removeConfirmation .options {
  display: flex;
  justify-content: space-between;
  margin-top: 2vw;
  width: 100%;
}

#removeConfirmation .options button {
  width: 48%;
}

#removeConfirmation.hasChildren .options button {
  width: 31%;
}

#removeConfirmation.hasChildren .ifHasNoChildren,
#removeConfirmation .ifHasChildren {
  display: none;
}

#removeConfirmation.hasChildren .ifHasChildren {
  display: block;
}

#changeParent .currentParent {
  text-align: center;
  margin-bottom: 2vw;
}

#changeParent .currentParent .value {
  font-weight: bold;
}

#changeParent .searchField .results {
  max-height: 30vh;
}

#changeParent .options {
  display: none;
  margin-top: 1.5vw;
  width: 100%;
  justify-content: space-between;
}

#changeParent.newParent .options {
  display: flex;
}

#changeParent .options button {
  width: 48%;
}

#modal .blackBG {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(0,0,0,.5);
  transition: opacity .3s ease;
}

#modal.active .blackBG {
  opacity: 1;
}

@media screen and (max-width: 800px) {
  #familyTree {
    padding: 30vh 10vw 10vw;
  }
  
  #familyTree > .member {
    padding: 8vw 8vw 2vw;
  }
  
  #familyTree .member:before {
    top: -8vw;
  }
  
  #familyTree .member:after {
    height: 8vw;
  }
  
  #familyTree .member .description {
    margin: 0 8vw 12vw;
  }
  
  #familyTree .member .picture {
    width: 32vw;
    height: 40vw;
    margin-bottom: 4vw;
  }
  
  #familyTree .member.active > .description:before {
    width: 3.2vw;
    height: 3.2vw;
    border-width: 1.2vw;
    margin-left: -14vw;
  }
  
  #familyTree .member .name {
    font-size: 4vw;
    margin-bottom: 2vw;
  }
  
  #familyTree .member .status {
    font-size: 3.2vw;
  }
  
  #familyTree .opener {
    height: 4.8vw;
    width: 4.8vw;
    transform: translateY(-8vw);
    font-size: 3.2vw;
    line-height: 4.8vw;
  }
  
  #familyTree .children {
    padding-top: 8vw;
  }
  
  #familyTree .children:before {
    top: -6vw;
    height: 6vw;
  }
  
  #modal .content {
    width: 90vw;
    border-radius: 2.4vw;
    padding: 18vw 6vw 6vw;
  }
  
  #modal.noImage .content {
    padding-top: 6vw;
  }
  
  #modal .picture {
    width: 30vw;
    height: 30vw;
  }
  
  #modal .name {
    font-size: 6vw;
  }
  
  #modal .name.active:before {
    left: -4.5vw;
    width: 2.4vw;
    height: 2.4vw;
  }
  
  #modal .status {
    margin: 7.5vw 0 4vw;
  }
  
  #modal .status .dot {
    width: 1.5vw;
    height: 1.5vw;
  }
  
  #modal .status .dot:before {
    width: 12vw;
    left: calc(100% + 3vw);
  }
  
  #modal .status .dot.active {
    width: 2.4vw;
    height: 2.4vw;
  }
  
  #modal .status .dot span {
    font-size: 2.4vw;
  }
  
  #modal .caption {
    font-size: 3vw;
    margin-bottom: .6vw;
  }
  
  #modal .value {
    font-size: 3.3vw;
  }
  
  #modal .recruitment {
    padding-left: 9vw;
  }
  
  #modal .recruitment:before {
    width: 7.5vw;
    height: 7.5vw;
  }
  
  #modal .row > div:not(.hidden) {
    margin-top: 5vw;
  }
  
  #modal .family .logo {
    width: 7.5vw;
    height: 7.5vw;
    margin-right: 1.5vw;
  }
  
  #search {
    top: 5vw;
    left: 5vw;
    box-shadow: 0 0 8vw rgba(0,0,0,.1);
  }
  
  #search:before {
    right: 4vw;
    top: 3.5vw;
    width: 6vw;
    height: 6vw;
  }
  
  #search input {
    width: 90vw;
    border-radius: 1.6vw;
    font-size: 4vw;
    padding: 4vw;
    box-sizing: border-box;
  }
  
  #search .results {
    max-height: 80vh;
  }
  
  #search .answer {
    font-size: 3.2vw;
    padding: 2.8vw 4vw;
  }
}